@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700italic,900,700,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700,600,500,300);
/* * Sunday - Onepage Personal/Portfolio
 * © scrils
*/
/* ========TABLE OF CONTENTS==========
00. Body, links, hgroup, paragraphs, general styles
01. Fixed header & Navigation
02. Section Intro (Home)
03. Section About
04. Section Resume
05. Section Portfolio
06. Section Blog
07. Section Contact
08. Footer
09. Loader
10. Responsive design

/*--------------------------------------------------
	00. Body, links, hgroup, paragraphs, general styles
---------------------------------------------------*/

body {
	background: #151515;
	font-family: 'Poppins', sans-serif;
	color: #eee;
	margin: 0;
	padding: 0;

}

a {
	color: #999;
  	-webkit-transition: all .25s ease-in-out;
  	transition: all .25s ease-in-out;
  	text-decoration: none;
}
a:visited {
	color: #999;
}
a:hover {
	text-decoration: none;
	color: #777;
}
a:focus {
	color: #999;
	outline: 0;
	text-decoration: none;
}
h2, h3, h4, h5, h6 {
	font-weight: 300;
}
h1 {
	font-size: 50px;
	letter-spacing: 3px;
	font-weight: 800;
	font-family: 'Playfair Display', serif;
}
h2 {
	font-size: 40px;
	letter-spacing: 3px;
}
h3 {
	font-size: 35px;
	font-weight: 300;
	letter-spacing: 2px;
}
h4 {
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 2px;
}
h5 {
	font-size: 25px;
	font-weight: 300;
	letter-spacing: 1px;
}
h6 {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;
}
p {
 	line-height: 30px;
 	letter-spacing: 1px;
 	font-size: 13px;
	color: #888;
}
ul.nop {
	-webkit-padding-start: 0px;
	-moz-padding-start:0px;
}
.nplr {
	padding-left: 0;
	padding-right: 0;
}
.nom {
	margin: 0;
}

/*----- Dark frame -----*/

.sticky-border {
	position: fixed;
	background: #111;
	z-index: 999;
}
.sb-left, .sb-right {
	height: 100%;
	width: 10px;
}
.sb-top, .sb-bottom {
	width: 100%;
	height: 10px;
}
.sb-left {left:0;}
.sb-right {right:0;}
.sb-top {top:0;}
.sb-bottom{bottom: 0;	}


/*----- Section titles -----*/

.section-title {
	text-align: center;
	padding-bottom: 70px;
}
.section-title h6 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 800;

}
.about-icons .icon:hover {
  -webkit-animation-name: jello;  
  -webkit-animation-iteration-count: 1;  
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 1s; 
}
.icon-above-title {
	font-size: 40px;
}


/*--------------------------------------------------
	01. Fixed header & Navigation
---------------------------------------------------*/
.header-fixed {
	position: fixed;
	z-index: 1000;
	top: 50px;
	left: 50px;
	background: #0a0a0a;
	padding: 20px 25px;
	max-width: 250px;
}
.menu-icon {
	width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;
    float: left;
    width: 20%;
    padding-left: 0px;
    padding-top: 1px;
  	-webkit-transition: all .25s ease-in-out;
  	transition: all .25s ease-in-out;
}
.menu-icon-clicked {
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -moz-transform: rotate(90deg);   /* Firefox */
    -ms-transform: rotate(90deg);   /* IE 9 */
    -o-transform: rotate(90deg);   /* Opera */
    transform: rotate(90deg);
}
.menu-bar {
    width: 25px;
    height: 2px;
    background: #ddd;
    margin-bottom: 7px;
    position: relative;
    right: 0;
}
.logotext {
	float: left;
	width: 80%;
	clear: both;
}
.logotext h6{
	text-transform: uppercase;
	position: relative;
	font-weight: 600;
	font-size: 23px;
	letter-spacing: 2px;
	color: #ddd;
	margin-top: 0px;
	margin-bottom: 0;
}

.menu-nav {
	text-align: right;
	position: relative;
	top: 20px;
	width: 100%;
	max-height: 0;
	overflow: hidden;
  	-webkit-transition: all .25s ease-in-out;
  	transition: all .25s ease-in-out;
}
.menu-nav-open {
	max-height: 300px;
}
.top-menu li {
	display: block;
	margin: 15px 0;
}
.top-menu li a {
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.active a{
	color: #fff!important;
	text-decoration: line-through;
}


/*------------------------------------------------
	02. Section Intro (Home)
---------------------------------------------------*/

.main-intro {
	text-align: center;
	background: #fff url(../images/bg.jpg);
	background-position: 90% 90%;
    background-size: cover;
    height: 100vh;
}


.main-content {
	padding-top: 10%;
	text-align: center;
}

.main-content h1 {
	font-size: 95px;
	letter-spacing: 2px;
	font-weight: 800;
	line-height: 95px;
}
.main-content h3 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
}

/*------------------------------------------------
	03. Section About
---------------------------------------------------*/

#page-about {
	padding: 100px 0;
	background: #fff;
	color: #222;
}
.about-iconbox h6 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	margin-top: 0;
}
.about-iconbox {
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}
.about-iconbox .icon {
	font-size: 50px;
}
.about-info {
	padding-bottom: 75px;
}
.about-ileft h3 {
	font-family: 'Playfair Display', serif;
	margin-top: 0;
	font-weight: 500;
	text-align: center;
	font-size: 45px;
	line-height: 55px;
}



/*------------------------------------------------
	04. Section Resume
---------------------------------------------------*/

#page-resume {
	padding: 100px 0;
	background: #eee;
	color: #222;
}
.resume-left h3 {
	font-family: 'Playfair Display', serif;
	margin-top: 0;
	font-weight: 500;
	text-align: right;
	font-size: 45px;
	line-height: 55px;
}
.resume-content h6 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 20px;
	color: #777;
}
.resume-skills {
	padding-top: 50px;
	text-align: right;
}
.resume-list li {
	list-style: none;
	padding: 15px 0;
}
.resume-list li b {
	font-size: 14px;
	letter-spacing: 1px;
}
.resume-list li i {
	font-size: 11px;
}
.resume-list li p {
	line-height: 25px;
}
.resume-list a{
	color:#009DF3;
}

/*------------------------------------------------
	05. Section Portfolio
---------------------------------------------------*/
#portfolio {
	padding: 100px 0;
	background: #222;
}

.folio-left h3 {
	font-family: 'Playfair Display', serif;
	margin-top: 0;
	font-weight: 500;
	text-align: right;
	font-size: 45px;
	line-height: 55px;
}
.folio-right {
	padding: 20px 30px;
}
/* ---- isotope ---- */
.mGrid {
	margin-top: 0px;
}
.mGrid img{
	width: 100%;
	height: 100%;
	-webkit-transition: all .15s ease-in-out;
  	transition: all .15s ease-in-out;
}
.itemIso {
	position: relative;
	padding: 20px;
}
.itemIso a {
	display: block;
	overflow: hidden;
	position: relative;
   	cursor: url(../images/crosshair.png), crosshair;
}

.item50 {width: 50%;}
.item33 {width: 25%;}

.filters li {
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin-right: 30px;
	font-size: 12px;
	font-weight: 800;
	color: #777;
	letter-spacing: 2px;
}

.is-checked {
	color: #fff!important;
}
.item-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	-webkit-transition: all .15s ease-in-out;
  	transition: all .15s ease-in-out;
  	opacity: 0;
  	background: #111;
  	color: #eee;
  	text-align: center;
}
.item-hover-content {
	position: relative;
	padding-top: 30%;
}
.itemIso:hover .item-hover {
	opacity: 1;
}
.itemIso h6 {
	font-size: 18px;
	letter-spacing: 5px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 0;
}
.itemIso i {
	color: #777;
	font-size: 12px;
}

.modal-box {
	max-width: 550px;
	background: #222;
	position: relative!important;
	margin: 0 auto;
	left: 0!important;
}
.modal-box img {
	width: 100%;
	height: 100%;
	/*center the image*/
	display: block;
    margin: 0 auto;
}
.modal-box-content {
	padding: 25px;
}
.modal-box-content h4 {
	font-size: 20px;
	font-weight: 800;
	color:#eee;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.modal-box-content p {
	font-size: 13px;
	text-align: left;
	line-height: 25px;
	padding: 10px 0;
	padding-bottom: 0px;
	max-width: 800px;
	font-weight: 300;
	letter-spacing: 1px;
	color:#777;
}
.modal-box-content .row{
	color:#777;
}
#pizzacraft-modal img{
	width: 90%;
	height: 90%;
}
#domination-modal img{
	width: 40%;
	height: 40%;
}
#wronglane-modal img{
	width: 40%;
	height: 40%;
}
#island-modal{
	max-width: 800px;
}
#crazyjumper-modal{
	max-width: 700px;
}

/*------------------------------------------------
	06. Section Blog
---------------------------------------------------*/

#page-blog {
	padding: 100px 0;
	background: #eee;
	color: #222;
}
.blog-left h3 {
	font-family: 'Playfair Display', serif;
	margin-top: 0;
	font-weight: 500;
	text-align: right;
	font-size: 45px;
	line-height: 55px;
}

.blog-list li {
	position: relative;
	bottom: 0;
	list-style: none;
	padding: 10px 0;
	-webkit-transition: all .25s ease-in-out;
  	transition: all .25s ease-in-out;
}
.blog-list h6 {
	font-size: 17px;
	letter-spacing: 2px;
	font-weight: 800;
	color: #222;
	text-transform: uppercase;
	margin-bottom: 5px;
	line-height: 22px;
}
.blog-list i {
	font-size: 12px;
	color: #777;
}
.blog-list p {
	line-height: 25px;
	padding-top: 10px;
}
.read-more {
	position: relative;
	bottom: -10px;
	opacity: 0;
	font-size: 13px;
	-webkit-transition: all .25s ease-in-out;
  	transition: all .25s ease-in-out;
  	color: #333;
  	font-weight: 600;
}
.blog-list li:hover .read-more {
	opacity: 1;
	bottom: 0;
}
.blog-list li:hover {
	bottom: 10px;
}

/*------------------------------------------------
	07. Section Contact
---------------------------------------------------*/

#page-contact {
	padding: 100px 0;
	background: #111;
}
#page-contact .container{
	max-width: 900px;
}
.contact-form h3 {
	font-family: 'Playfair Display', serif;
	margin-top: 0;
	font-weight: 500;
	font-size: 45px;
	text-align: center;
}

/*Contact form*/

input, textarea, select {
	position: relative;
    color: #fff;
	vertical-align: top;
	margin: 0;
	padding: 10px;
	width: 100%;
	height: 100%;
	border: 0;
	background: #222;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
     -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;  
}
input:focus, textarea:focus, select:focus {
	outline: none;
	z-index: 5;
	background: #1d1d1d;
}

input.submit {
	width: auto;
	cursor: pointer;
	position: relative;
    color: #fff;
    padding: 12px 20px;
    background: #222;
    margin: 10px 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
  	font-weight: 600;
  	letter-spacing: 3px;
  	border: 0;
}
input.submit:hover {
	background: #1d1d1d;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #eee;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #eee;
}
input[type="submit"][disabled] { background:#000; cursor: default; }
fieldset { padding:0;border:0; }
label {
	font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.contact-field {
	padding-bottom: 20px;
	padding-right: 15px;
	padding-top: 15px;
}

/*---Message sent successfull---*/

#message {
	margin: 1em 0;
	padding: 0;
	display: block;
	background: none;
}
#message h2 {
	font-size: 17px;
	color: #eee;
	letter-spacing: 2px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 22px;
}
#message p {
	color: #888;
}

/*---Message not sent / ERROR ---*/

.error-message {
	color: #eee;
}
ul.error-messages li {
  	font-size: 14px;
  	text-align: left;
  	color: #888;
  	list-style: none;
  	line-height: 30px;
}

/*--------------------------------------------------
	08. Footer
---------------------------------------------------*/


.page-footer {
	background: #111;
	color: #222;
	padding: 70px 0 20px 0;
	text-align: right;
}
.footer-social li {
	display: inline-block;
	margin-left: 30px;
	font-size: 19px;
	color: #444;
}
.footer-copyright {
	text-align: left;
}
.footer-copyright p {
	font-size: 13px;
	letter-spacing: 1px;
	color: #777;
}


/*--------------------------------------------------
	09. Loader
---------------------------------------------------*/

#loader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#loaderInner {
    background:#ffffff url(../images/load.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 60px;
}

.loading-mask {
    background: #222;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.spinner {
  	width: 40px;
  	height: 40px;
  	top: 50%;
  	left: 50%;
  	position: absolute;
}

.double-bounce1, .double-bounce2 {
  	width: 100%;
  	height: 100%;
  	border-radius: 50%;
  	background-color: #eee;
  	opacity: 0.6;
  	position: absolute;
  	top: 0;
  	left: 0; 
  	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  	-webkit-animation-delay: -1.0s;
  	animation-delay: -1.0s;
}

/*--------------------------------------------------
	10. Responsive design
---------------------------------------------------*/

@media screen and (max-width: 787px) {

	.item33 {
		width: 50%;
	}
	.filters li {
		display: block;
		margin: 15px 0;
	}
	.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8 {
		margin: 20px 0;
	}
	.contact-form .col-md-4{
		margin: 0;
	}
	.about-info{
		padding-bottom: 0px;
	}
	.resume-left h3{
		text-align: center;
	}
	.resume-skills{
		text-align: center;
		margin-right: 30px;
	}

}


@media screen and (max-width: 480px) {
	.item33 {
		width: 100%;
	}
	.main-content {
		padding-top: 25%;
	}
	.main-content h1 {
	    font-size: 75px;
	    line-height: 80px;
	}
}